.glow-btn {
  background: rgba(255,255,255,0.2);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 6px 10px;
  cursor: pointer;
  transition: box-shadow 0.3s ease, transform 0.2s ease;
}
.glow-btn:hover {
  box-shadow: 0 0 5px 2px rgba(255,255,255,0.8), 0 0 10px 3px rgba(0,0,0,0.6);
  transform: scale(1.05);
}

@keyframes shake {0%,100%{transform:translateX(0);}25%{transform:translateX(-10px);}75%{transform:translateX(10px);}}

.error {animation: shake 0.3s; background: rgba(255,0,0,0.3);}

#title-card {
  position: fixed;
  top: 0;
  right: 10px;
  display: flex;
  align-items: center;
  outline: 2px solid rgba(0, 0, 0, 0.05);
  background: rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.2);
  padding: 2px;
  border-radius: 0 0 10px 10px;
  z-index: 10;
  gap: 3px;
  box-shadow: 0 0 13px rgba(0,0,0,0.2);
  font-size: 12px;
}

#button-container {
  position: fixed;
  top: 35px;
  right: 0;
  display: flex;
  align-items: center;
  outline: 2px solid rgba(0, 0, 0, 0.25);
  background: rgba(255, 255, 255, 0.25);
  padding: 2px;
  border-radius: 10px 0 0 10px;
  z-index: 10;
  gap: 3px;
  transition: transform .3s cubic-bezier(.2,.9,.3,1), background .25s linear, box-shadow .2s ease;
  box-shadow: 0 0 13px rgba(0,0,0,0.6);
}

#toggle-btn {
  background: rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.6);
  border: none;
  padding: 5px 8px;
  cursor: pointer;
  border-radius: 10px 0 0 10px;
  font-size: 22px;
}

#fullscreen-btn {
  background: rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.6);
  border: none;
  padding: 5px 5px;
  cursor: pointer;
  border-radius: 2px;
  font-size: 9px;
}

#tools-btn {
  background: rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.6);
  border: none;
  padding: 5px 5px;
  cursor: pointer;
  border-radius: 2px;
  font-size: 9px;
}

#back-btn {
  background: rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.6);
  border: none;
  padding: 5px 5px;
  cursor: pointer;
  border-radius: 2px;
  font-size: 9px;
}
